.error {
  color: red;
  text-transform: capitalize;
}

.loading {
  color: orange;
}

.search-result-container {
  background-color: #68d391;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.2rem;
  margin-right: auto;
  gap: 0.5rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1);
}

.min-max-temp {
  display: flex;
  justify-content: space-around;

  margin-top: 0.5rem;
  font-size: medium;
}

.weather-desc {
  text-transform: capitalize;
}

.weather-details {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 0.5rem;
  font-size: medium;
}
