.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2.5rem;
  color: #68d391;
  width: 80vw;
  text-align: center;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .main-container {
    width: 90vw;
  }
}

@media screen and (max-width: 640px) {
  .main-container {
    width: 90vw;
  }
}
