:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid";
}

@font-face {
  font-family: "Euclid";
  src: local("Euclid"),
    url("./fonts/EuclidCircularB-Regular.ttf") format("truetype");
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
